@font-face {
    font-family: scaleFont;
    src: url('./assets/AldotheApache.woff');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

:root {
    --max-width: 800px;
    --clr-primary: hsl(0, 96%, 70%);
    --clr-secondary: 324, 100%, 46%;
    --clr-accent: #fc6767;
    --clr-off: #ffd1d1;
    --clr-fill: #ffeee8;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


.header-logo {
    font-family: scaleFont;
    font-weight: 200;
    font-size: 1.25rem;
}

.App {
    display: block;
}

.gradient {
    background: #ec008c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.navbar {
    width: 100%;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    box-shadow: 0px 0px 50px 10px hsl(0, 96%, 70%, 0.25);
}

.nav-content {
    margin: 0 auto;
    max-width: 50rem;
    width: 80%;
}

.container {
    margin-block: 5rem;
    max-width: 50rem;
    margin: 0 auto;
    /* background-color: hsla(var(--clr-secondary), 0.05); */
}

.container>* {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin: 0 auto;
    padding-inline: clamp(2rem, 5vw, 5rem);
    /* background-color: hsla(var(--clr-secondary), 0.05); */
}


.scale {
    margin-block: 2rem;
}

.control-panel {
    color: #db7c7c;
    /* padding-inline: 2rem; */
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    justify-content: flex-start;
}

.result {
    margin-block: 3rem;
}

.card {
    width: 3rem;
    display: grid;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    background-color: var(--clr-fill);
    border-radius: 15px;
}

.active {
    color: #fff;
    background: #f7a6d7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffbcbc, #ff7ccb);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f89797, #fa5fbc);
}

.key-array {
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, 3rem); */
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.picker {
    position: relative;
    display: flex;
    padding: 1.5rem;
    border: 1px solid var(--clr-off);
    border-radius: 0.5rem;
}

.picker>span {
    margin-left: auto;
}

.modal {
    justify-self: center;
}

code {
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    border-radius: 0.5rem;
}

.code-block {
    position: relative;
}

.copyButton {
    all: unset;
    text-transform: uppercase;
    color: var(--clr-fill);
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
    background: var(--clr-accent);
    border-radius: 5px;
    /* border: 1px solid var(--clr-fill); */
}


.checkbox-container {
    /* display: block; */
    position: relative;
    padding-left: 3.5em;
    line-height: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    padding-block: 1.5rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--clr-off);
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: calc(50% - 9px);
    left: 1.5rem;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 1.5px solid var(--clr-off);
    background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
    background-color: var(--clr-accent);
    box-shadow: inset 0px 0px 0px 2px white;
    border: 2px solid var(--clr-accent);
}

.checkbox-container:has(input:checked) {
    background: var(--clr-fill);
    outline: 2px solid var(--clr-accent);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    height: 0;
}

@media screen and (width >=600px) {
    .control-panel {
        grid-template-columns: repeat(2, 1fr);
    }

    .key-array {
        grid-column: 1/-1;
        justify-content: space-between;
    }

    .modal {
        grid-row: 5/4;
        justify-self: center;
    }

    .right {
        grid-column: 2/3;
    }
}